@import "tailwindcss";
body {
    font-family: var(--font-lexend), sans-serif;
}


/* 🎨 Custom CSS Color Variables */

:root {
    /* Dark Blue */
    --color-primary-dark: #355694;
    /* Light Blue */
    --color-primary-light: #2DACE3;
    /* Orange */
    --color-accent-orange: #F6A25C;
}