@import "tailwindcss";
:root {
    font-family: var(--font-lexend);
}

body {
    font-family: var(--font-lexend);
}

@theme {
    /* 🎨 Custom Brand Colors */
    --color-primary-dark: #355694;
    --color-primary-light: #2DACE3;
    --color-accent-orange: #F6A25C;
    /* 🌈 Custom Gradient */
    --gradient-primary: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary-light));
}